<!--End Logo Slider-->
<div class="container-fluid crownify4 d-flex justify-content-center align-items-center">
    <img src="/assets/images/logo/Crownify_logo_text.png" class="custom-logo">

</div>


<footer id="footer" class="footer-5">
    <div class="site-footer">
        <div class="container">
            <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                        <ul>
                            <li><a href="/About">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                        <ul>
                            <li><a href="#">Request Personal Data</a></li>
                            <li><a href="/faq">FAQ's</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="/contact">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="display-table">
                            <div class="display-table-cell footer-newsletter">
                                <form action="#" method="post">
                                    <label class="h4">Newsletter</label>
                                    <p>Be the first to hear about new trending and offers and see how you've helped.</p>
                                    <div class="input-group">
                                        <input type="email" class="input-group__field newsletter__input" name="EMAIL"
                                            value="" placeholder="Email address" required="">
                                        <span class="input-group__btn">
                                            <button type="submit" class="btn newsletter__submit" name="commit"
                                                id="Subscribe"><span
                                                    class="newsletter__submit-text--large">Subscribe</span></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">About Us</h4>
                        <p style="line-height: 1.6;">Crownify – Your go-to store for premium headwear, blending style, comfort, and quality for
                            every occasion.</p>
                        <ul class="addressFooter">
                            <li class="email"><i class="icon anm anm-envelope-l"></i>
                                <p>crownify24@gmail.com.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                <div class="row">
                    <!--Footer Copyright-->
                    <div
                        class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                
                    </div>
                    <!--End Footer Copyright-->
                    <!--Footer Payment Icon-->
                    <div
                        class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        <img src="/assets/images/safepayment.png" alt="Payment">
                    </div>
                    <!--End Footer Payment Icon-->
                </div>
            </div>
        </div>
    </div>
</footer>
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>


<!-- Including Jquery -->
<script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery.cookie.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/vendor/instagram-feed.js"></script>
<!-- Including Javascript -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/lazysizes.js"></script>
<script src="/assets/js/main.js"></script>
<!--Instagram Js-->
<script src="/assets/js/jquery2.min.js"></script>
<script src="/assets/js/popper2.js"></script>
<script src="/assets/js/bootstrap2.min.js"></script>
<script src="/assets/js/main2.js"></script>



<!--End Instagram Js-->
<!--For Newsletter Popup-->

<!--End For Newsletter Popup-->
</div>
</body>



</html>