


<!--Footer-->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->

<!--Quick View popup-->

<!--End Quick View popup-->

<!-- Newsletter Popup -->

<!-- End Newsletter Popup -->


<!-- Including Jquery -->
<!-- <script src="/assets/admin/js/vendor/jquery-3.3.1.min.js"></script> -->
<!-- <script src="/assets/admin/js/vendor/modernizr-3.6.0.min.js"></script> -->
<!-- <script src="/assets/admin/js/vendor/jquery.cookie.js"></script> -->
<script src="/assets/admin/js/vendor/wow.min.js"></script>


<!-- Including Javascript -->
<script src="/assets/admin/js/bootstrap.min.js"></script>
<!-- <script src="/assets/admin/js/plugins.js"></script> -->
<!-- <script src="/assets/admin/js/popper.min.js"></script> -->
<!-- <script src="/assets/admin/js/lazysizes.js"></script> -->
<script src="/assets/admin/js/main.js"></script>
<!--Instagram Js-->
<!-- <script src="/assets/admin/js/jquery2.min.js"></script> -->
<!-- <script src="/assets/admin/js/popper2.js"></script> -->
<!-- <script src="/assets/admin/js/bootstrap2.min.js"></script> -->
<!-- <script src="/assets/admin/js/main2.js"></script> -->

<!--End Instagram Js-->
<!--For Newsletter Popup-->

</script>
<!--End For Newsletter Popup-->


<!-- belle/home12-category.html   11 Nov 2019 12:33:20 GMT -->

</html>