


<!--Footer-->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>

<script src="/assets/admin/js/vendor/wow.min.js"></script>


<!-- Including Javascript -->
<script src="/assets/admin/js/bootstrap.min.js"></script>

<script src="/assets/admin/js/main.js"></script>

</script>
<!--End For Newsletter Popup-->


</html>