<%- include("../../views/partials/user/headerAbout") %>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="about-section" style="background-color: rgb(144 120 103);; padding: 20px;">
    <h1 style="text-align: center; color: rgb(0, 0, 0);">About Us</h1>
    <div class="content" style="display: flex; align-items: center;">
        <div class="logo-section" style="flex: 1; text-align: center; color: white;">
            <img src="/assets/images/logoCrownify.png" alt="Crownify Logo"
                style="width: 296px; height: 296px; border-radius: 50%; object-fit: cover;">
          
        </div>
        <div class="col-lg-8 text-section mt-5 mb-5" style="flex: 2; padding: 0 20px; color: white;">
            <p class="bold" style="font-weight: bold;">Welcome to Crownify, where headwear meets style and innovation.
            </p>
            <p>At Crownify, we believe that your choice of headwear is more than just an accessory—it's an expression of
                who you are. Whether you're looking for a sleek and modern look, something bold and futuristic, or
                classic styles that never go out of fashion, we've got you covered.</p>
            <p>Founded with a passion for headwear, Crownify aims to bring you the latest trends and timeless classics
                in one place. We handpick each piece with care to ensure top quality and cutting-edge designs that match
                your vibe.</p>
            <p>Our mission is simple: to crown your individuality. From hats, caps, beanies, and more, we provide a
                diverse range of headwear options for every personality, occasion, and season. And we're not just about
                style—we're committed to delivering a seamless shopping experience, with fast shipping, easy returns,
                and outstanding customer service.</p>
            <p>So go ahead—explore our collection and find the perfect piece to top off your look. At Crownify, it's not
                just about wearing a hat—it's about owning your crown.</p>
            <p class="bold" style="font-weight: bold;">Crownify: Your Style, Your Crown.</p>
        </div>
    </div>
</div>



<%- include("../../views/partials/user/footershop") %>



