<%- include("../../views/partials/user/headerAddress") %>

    <section class="breadcrumb-option" style="    height: 140px;
    background-color: #291616;
    padding-top: 58px;
    padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">

                        <div class="breadcrumb__links">
                            <a href="/" style="color: white;">Home</a> <span
                                style="padding-right: 10px; font-size: small; padding-left: 10px;"> ></span>
                            <a href="#" style="color:rgb(108, 108, 108) ;">Pages</a><span
                                style="padding-right: 10px; font-size: small; padding-left: 10px;"> ></span>
                            <a href="/profile" style="color:rgb(108, 108, 108) ;">Account</a> <span
                                style="padding-right: 10px; font-size: small; padding-left: 10px;"> ></span>
                            <a href="/Address" style="color:rgb(108, 108, 108) ;">User Address</a> <span
                                style="padding-right: 10px; font-size: small; padding-left: 10px;"> ></span>
                            <a href="/user/addAddress" style="color: rgb(109, 109, 109);">Add New Address</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
                            style="background-image: url(/assets/images/Address.webp);">
                            <div class="text w-100">
                                <h2 class="mb-4">Add a New Address</h2>
                                <p style="line-height: 1.6; color: white;">Provide your delivery address to ensure
                                    seamless and timely delivery of your
                                    favorite Crownify headwear.</p>
                            </div>
                        </div>

                        <div class="login-wrap p-4 p-md-5"
                            style="background-image: url(/assets/images/addressDesign.png); background-size: cover; background-position: center; background-repeat: no-repeat; line-height: 1.6;">
                            <h3 class="mb-3" style="font-weight: 600;">Add New Address</h3>


                            <form method="post" action="/addAddress" class="signup-form" id="signform">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="addressType">Address Type:</label>
                                            <select name="addressType" id="addressType" required
                                                style="border-radius: 36px;">
                                                <option value="">Select Address Type</option>
                                                <option value="Home">Home</option>
                                                <option value="Office">Office</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" style="width: 300px;" for="name">Full Name ( First and
                                                Last Name )</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                placeholder="Enter name">
                                            <div id="error1" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="country">Country / Region</label>
                                            <input type="text" class="form-control" name="country" id="country"
                                                placeholder="Enter your country">
                                            <div id="error2" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="phone">Mobile Number</label>
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                placeholder="Enter phone number">
                                            <div id="error3" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="pincode">Pincode / Zipcode</label>
                                            <input type="text" class="form-control" name="pincode" id="pincode"
                                                placeholder="Enter pincode">
                                            <div id="error4" class="error-message"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" style="width: 300px;" for="home">Flat, House
                                                no.,Company</label>
                                            <div class="input-group">
                                                <input type="text" id="home" class="form-control" name="home"
                                                    placeholder="Enter flat / house no">


                                            </div>


                                            <div id="error5" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="area">Area, Street</label>
                                            <div class="input-group">
                                                <input type="text" id="area" class="form-control" name="area"
                                                    placeholder="Enter area / street ">

                                            </div>


                                            <div id="error6" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="landmark">Landmark</label>
                                            <div class="input-group">
                                                <input type="text" id="landmark" class="form-control" name="landmark"
                                                    placeholder="Enter landmark">

                                            </div>


                                            <div id="error7" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="town">Town / City</label>
                                            <div class="input-group">
                                                <input type="text" id="town" class="form-control" name="town"
                                                    placeholder="Enter city / town ">

                                            </div>


                                            <div id="error8" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="state">State /Province</label>
                                            <div class="input-group">
                                                <input type="state" id="state" class="form-control" name="state"
                                                    placeholder="Enter state or province">

                                            </div>


                                            <div id="error9" class="error-message"></div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 text-center">
                                        <div class="form-group ">

                                            <button type="submit" class="btn btn-secondary submit "
                                                style="width:170px">Add Address</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../../views/partials/user/footerAddress") %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/addAddress.js"></script>