<%- include("../../views/partials/user/headershop") %>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid crownify d-flex justify-content-center align-items-center" style="margin-top: 0px;">
        <img src="assets/images/logo/Crownify_logo_text.png" class="custom-logo">

    </div>

    <div class="map">


        <iframe src="https://www.google.com/maps?q=9.938290,76.321862&z=15&output=embed" height="500" style="border:0;"
            allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad" style="background-color: #fdeaea;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>At Crownify, we’re dedicated to providing exceptional service and support. Reach out to
                                us for any inquiries or
                                assistance – we’re here to help!</p>
                        </div>
                        <ul>
                            <li>
                                <h4>Kochi</h4>
                                <p>Maradu, Ernakulam, Kochi, Kerala 682016 <br />+91 974-635-1234</p>
                            </li>
                            <li>
                                <h4>Thiruvananthapuram</h4>
                                <p>Statue Junction, Palayam, Thiruvananthapuram, Kerala 695001 <br />+91 854-712-5678
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="/contact" method="POST" id="contactForm">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="errorName" class="error-message"></div>
                                    <input type="text" placeholder="Full Name" id="name" name="name">

                                </div>
                                <div class="col-lg-12">
                                    <div id="errorEmail" class="error-message"></div>
                                    <input type="text" placeholder="Email" id="email" name="email">

                                </div>
                                <div class="col-lg-12">
                                    <div id="errorPhone" class="error-message"></div>
                                    <input type="text" placeholder="Phone" id="phone" name="phone">

                                </div>
                                <div class="col-lg-12">
                                    <div id="errorMessage" class="error-message"></div>
                                    <textarea placeholder="Message" id="message" name="message"></textarea>

                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <%- include("../../views/partials/user/footershop") %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/contactInfo.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/cartNav.js"></script>