<%- include("../../views/partials/user/headernewpassword") %>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
                            style="background-image: url(assets/images/newpassword.webp);">
                            <div class="text w-100">
                                <h2 class="mb-4">Set Your New Password</h2>
                                <p style="color: white;">Enter a new password to regain access to your Crownify account
                                    and continue exploring our premium headwear
                                    collection.</p>
                            </div>
                        </div>


                        <div class="login-wrap p-4 p-md-5"
                            style="background-image: url(assets/images/newpassDesign.png); background-size: cover; background-position: center; background-repeat: no-repeat; height: 612px;">
                            <h3 class="mb-3" style="font-weight: 600; padding-bottom:40px; margin-top:30px;">New
                                Password</h3>


                            <form method="post" action="/reset-password" class="signup-form" id="signform"
                                onsubmit="return passValidationChecking()">
                                <div class="row">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="password">Password</label>
                                            <div class="input-group">
                                                <input type="password" id="password" class="form-control"
                                                    name="password" placeholder="Password">
                                                <span class="input-group-text" id="toggle-password"
                                                    style="cursor: pointer;">
                                                    <i class="fa fa-eye" id="eye-icon"></i>
                                                </span>
                                            </div>


                                            <div id="error4" class="error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="confirm-password">Confirm Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="cPassword"
                                                    id="confirm-password" placeholder="Confirm Password">
                                                <span class="input-group-text" id="toggle-confirm-password"
                                                    style="cursor: pointer;">
                                                    <i class="fa fa-eye" id="eye-icon"></i>
                                                </span>
                                            </div>
                                            <div id="error5" class="error-message"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-secondary submit ">Continue</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../../views/partials/user/footer") %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/resetPassword.js"></script>